html { 
    background: url(background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
        } 

.navigation-icon{

}

.navigation-icon li{

}
 
.box {
  margin: auto;
  width: 300px;
  height: 50px;
  vertical-align: middle;
  position: relative;
  top: 300px;
}

.searchBox{
  width: 10vh;
  height: 5vh; 
  white-space: nowrap;
  vertical-align: middle;
}

.searchBox input#search{
  width: 30vh;
  height: 7vh;
  border: 1px;
  font-size: 13pt;
  float: left;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;  
  color: black;
  /*border: 1px solid rgba(100,100,100,0.5);*/
  opacity: 0.7;
    
  -webkit-transition: width .95s ease;
  -moz-transition: width .95s ease;
  -ms-transition: width .95s ease;
  -o-transition: width .95s ease;
  transition: width .95s ease;
}

.searchBox button{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  /*border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;*/
  border: 20;
  border-color: white;
  color: white;
  background-color: transparent;
  height: 7vh;
  width: 99.9%;
  position: relative;

.searchBox button{
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
 
  border: none;
  height: 50px;
  width: 50px;
  color: white;
  opacity: 1;
  font-size: 10pt;
  background-color: black;
 
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.searchBox:hover button, .searchBox:active button, .searchBox:focus button{
  outline: none;
  opacity: 1;
}
 
.searchBox:hover button:hover{
  background: black;
}

.searchBox input#search:focus, .searchBox input#search:active{
  outline: 1px;
  width: 10vh;
}
 
.searchBox:hover input#search{
  width: 15vh;
}
 
.searchBox:hover input#search{
  width: 300px;
}
