<!DOCTYPE html>
<html>
    <head>
        <title>FreeScholars</title>
        <link rel="stylesheet" href="/../static/css/font-awesome/css/font-awesome.min.css">
    <meta charset="utf-8">
    <style>
        @import url("/../static/css/Index.css");
    </style>
    </head>
    
    <body>

    	<section class='top'>
            <span id="UKDB" class="DBS">UK</span><span id="CADB" class="DBS">CA</span>
	        <h2 class = "FreeScholarsHeader">FreeScholars <img src ="/../static/freescholars_notxt.png"/></h2>
	        
	        <div class = "containerBox">
	            <ul class="website_elements">
	           		<li id="leftitem"><a href="#" class="navigation">SEARCH</a></li>
	                <li id="middleitem"><a href="#" class="navigation">POPULAR</a></li>
	                <li id="rightitem"><a href="#" class="navigation">CATEGORIES</a></li>
	            </ul>
	        </div> 
	        
	        <div class = "website_description">
	            <p>FreeScholars aims to give students with a college or university email an easy way to discover different<br/> services, software and benefits that they can get discounted or even for free just for being students.</p>
	        </div>
        </section>
            
        <section class='search'>
            <h3 class = "searchHeader">Search <i class="fa fa-search fa-lg"></i></h3>
	        <div class="box">
	        	<div class="searchBox">
	            		<input type="search" id="searchInput" placeholder="search" name="search"/>
	            		<button id="submitSearch">
	                		<i class="fa fa-search fa-lg"></i>
	            		</button>
	          	</div>
	        </div>
            <div class="search-area"><div class="search-box-holder"></div><div class="page-numbers"></div></div>
		</section>
        
        <section class='popular'>
	        <h3 class = "popularHeader">Popular <i class="fa fa-star fa-lg"></i></h3>
	    </section>

	    <section class='categories'>
	        <h3 class = "categoriesHeader">Categories <i class="fa fa-tags fa-lg"></i></h3>
	    </section>

	    <section class='contact'>
	        <h3 class = "contactHeader">Contact <i class="fa fa-envelope-o fa-lg"></i></h3>
	        <div class = "contactText">
	            <p>Do you have any comments or questions about our website? Have any suggestions for any additions you would like to see? We encourage you to let us know. Feel free to contact us at EMAIL.</p>
	        </div>
	    </section>
        
    </body>
    
    <script type="text/javascript" src="/../static/js/jquery-2.1.1.min.js"></script>
    <script src="/../static/js/Index.js"></script>
    
</html>