<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/../static/css/font-awesome/css/font-awesome.min.css">
        <meta charset="utf-8">
        <style>
            @import url("/../static/css/Search.css");  
        </style>
    </head>
    
    <body>
        <nav class = "navigation-icon"></nav>
        <div class="box">
          <div class="searchBox">
              <form method="GET" action="{{ url_for('search') }}" >
            <input type="search" id="search" placeholder="Services..." name="search"/>
            <button type="submit">
                <i class="fa fa-search fa-lg"></i>
            </button>
              </form>
          </div>
        </div>
    </body>
</html>