html { 
    background: url(white_wall_hash.png)no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
        } 

.navigation-icon{

}

.navigation-icon li{

}
 
.box {
  margin: auto;
  width: 300px;
  height: 50px;
  vertical-align: middle;
  position: relative;
  top: 300px;
}

.searchBox{
  width: 10vh;
  height: 5vh; 
  white-space: nowrap;
  vertical-align: middle;
}

.searchBox input#search{
  width: 250px;
  height: 7vh;
  border: 1px;
  font-size: 13pt;
  float: left;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;  
  color: black;
  /*border: 1px solid rgba(100,100,100,0.5);*/
  opacity: 0.7;
    

}

.searchBox button{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  /*border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;*/
  border: 20;
  border-color: white;
  color: white;
  background-color: transparent;
  height: 7vh;
  width: 99.9%;
  position: relative;
}



.searchBox:hover button, .searchBox:active button, .searchBox:focus button{
  outline: none;
  opacity: 1;
}
 
.searchBox:hover button:hover{
  background: rgba(100,100,100,0.2);
}

.searchBox input#search:focus, .searchBox input#search:active{
  outline: 1px;
}

